.app {
  font-weight: bold;
}

.KeyChainList table tr.uid {
  background: #aaa
}
.KeyChainList table tr.sec {
  background: #bbb
}
.KeyChainList table tr.ssb {
  background: #ccc
}


.CreateKey .good {
  background: green
}

.Progressor .ok {
  background: green
}
.Progressor .fail {
  background: red
}

.Progressor .eom {
  background: blue
}
